*.lib
*.exp
*.pdb
*.cmd
*.log
*.ilk
*.iobj
*.ipdb
*.db
*.user
*.opendb

/tests/codeliteproj/.codelite
/tests/codeliteproj/Debug
/tests/codeliteproj/Release

/tests/vcproj/Debug
/tests/vcproj/x64
/tests/vcproj/Release
/tests/vcproj/.vs

